

body {
	font-family: tahoma, arial;
}

h1, h2, h3, h4, h5, h6 {
	border-bottom: 0.1em solid blue;
}

h1 {
	color: white;
	float: left;
	margin-left: 1em;
}

h1 a {
	color: #fff;
}

h1 a:visited {
	color: #fff;
}

#header {
	background: blue;
}

#navigation {
	border-bottom: 0.3em solid orange;
	margin-bottom: 1em;
	border-left: 0.1em solid blue;
	border-right: 0.1em solid orange;
	border-collapse: collapse;
}

#navigation a {
	font-size: 1.2em;
	height: 1.2em;
	padding: 0.5em;
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 0.5em;
	display: block;
	float: left;
	border-top: 0.1em solid transparent;
	border-bottom: 0.1em solid transparent;
	border-left: 0.1em solid transparent;
	border-right: 0.1em solid transparent;
	border-collapse: collapse;
}

#navigation a:visited {
	color: blue;
}

.nav_hover, #navigation a:hover {
	border-top: 0.1em solid blue;
	border-left: 0.1em solid blue;
	border-right: 0.1em solid orange;
	border-bottom: 0.1em solid orange;
	color: black;
	background: yellow;
}



#principles {
/*	border: 0.1em solid #000;*/
	width: 10em;
	font-size: 1.5em;
	text-align: center;
	font-weight: normal;
	display: inline;
}

#principles li {
	margin: 0.2em;
	list-style-type: none;
	display: none;
}

#footer {
	border-top: 0.1em solid blue;
}

#footer p {
	margin-left: 1em;
}