#new_item p  {
	float: left;
	margin: 0.2em;
	padding: 0.4em;
	width: auto;
	border: 0em solid black;
}

#new_item p b {
	clear: both;
	float: left;
	padding: 0.5em;;
}

#item_description
{
	clear: both;
	float: right;
	
}

#item_submit {
	clear: both;
}