<div id="theme-panel">
	<a href="javascript:void(0)" id="theme-panel-toggle">THEME PANEL</a>
	<div id="picker-container">
	<div id="picker"></div>				
		<input type="text" value="#header" id="picker-target">
		<input type="text" value="#header" id="picker-output">
		<input type="button" value="Apply" id="picker-apply">
	</div>
</div>