<h2>What it Means</h2>

<p>Pronounced Ideal, Idyle is a contraction wordplay on ideal and idle. The composition rendered idyle -- put your old and idle stuff to good use, and
	make money from renting it!</p>

<h2>How It Works</h2>

<p>The basic concept is pretty simple: anyone can list any item they own for sale/rent/lend/whatever with the option to rental any item to anyone 
	at a price you set. For example, I have a couple of saws that I rarely use. I put my chainsaws up for rent on idyle.com for $8/day. Someone in
	need of a chainsaw, and knowing it's a highly useful, commonly owned item in use rarely -- so they look on idyle, and there are your chainsaws.
	If they decide to try and use them, and, say, don't return them to you -- you have their credit card and a deposit on hand in our system relative
	to the worth of the items on loan, which you tell us when you're listing your items. Having a desposit...cuts down massively on failure to return --
	because who wants to pay full price for a used chainsaw? 
	 </p>

<p>So who would want to bother? I think a lot of people -- hence the website. Old guitars, amps, pet cages, shovels, anything. And that's the neat
	thing about it too -- you don't even have to charge people to use your stuff if you don't want to. You can barter. Anything from anyone to everyone.
	Your own terms, with customizable contracts for transactions of profit and risk. <em>Decentralized rental and sharing network.</em>
	</p>