<%= title "My Farm In The Hills of Castaic" %>

<h3>Growing In Hard Places</h3>

<p>
	If I've learned anything through my experience trying to farm a small plot at 2500', it's that it's a LOT OF HARD WORK. 
	There's no two ways about this, the soil I dug into initially was almost rock hard from the compaction my mom's 1/2 ton pickup truck
	did rolling in and out every day, and many years of dogs and people treading the area. The rototilling, which was preceded by
	a scraping off of a gravel layer my parents put down to help with operating on the clay type soil in the winter, is the only thing that has 
	allowed me to make any use of the existing clayish soil -- I wouldn't have been able to dig into or work with  it unless it had been ripped,
	and then amended with the 3 cubic yards of compost, then the ~3/4 cubic yards of horse and steer manure -- and even more the soil is far from perfect, with medium-low nitrogen, and plenty of gravel, rocks and super hard clumps of dirt courtesy of history and the long running California drought. 
</p>

<h3>The Plot and Environment</h3>
<p>
	But, stuff is coming up! So all's well that ends well, I suppose, except for the time that hard in between, which is where I am right now. 
	A principle I learned at a basic permaculture course was survey the existing land/topography to my advantage. This is kind of a problem for 
	my case because there is no topography to work with when you fence into a 20'x50' rectangle on a small plateau in the bottom of a gully.
	The only topography I've got is the sloping angles the hill I'm sitting at the base of, and that provides me no protection from the 
	BLASTING WINDS that rip through this area constantly. Even now, while I'm writing this inside my car, the winds are whipping around outside at 
	30+ mph constantly, while the warm sun tries to give my plants a chance -- any heat that gets to them is instantly displaced by the 
	powerful and eternal vacuum we call the wind. But that's OK -- cause the soil itself retains a very nice average temperature from the decomposing of the compost and manure in the beds!
</p>

<h3>Permaculture Principles: Build Up</h3>

<p>One of the most successful techniques I've applied from the knowledge I've gained about permaculture and sustainable living practices is
	that of amendment over replacement. This technique was demonstrated to me by one Larry Santoyo, a permaculture expert, 
	who somehow got a bunch of people to pay to come shovel manure and mulch into wheel barrows and build up a beautiful rock walled raised
	bed spiral garden on top of an existing lawn! Using old cardboard boxes, we managed to smother the existing lawn with a very strong layer, which will prevent the grass from breaking through and invading the garden, and also will, ultimately, merge the bottom of the raised bed
	with the preexisting lawn through the gradual decomposition that will take place underneath the manure/mulch raised bed.</p>
	
	<p>In my case, I brought in about 4 cubic yards of amendments total for a 1000 sq. ft. plot. I could have easily used 5-6, but as phase one, this is working great. I initially built up a raised bed bordered by large retaining wall blocks to hold back the earth, but these blocks were ultimately too imposing and needed to be removed to provide additional space -- though I think this technique of using retaining wall blocks would work wonderfully in a traditionally suburban home setting.</p>
	
	<p>So, now I have three large spiral raised beds, each planted symbiotically a la companion planting, the art of using plants together to increase the strength and productivity of the relative plants (this knowledge has been around for a long time, see The Three Sisters). Peas and
		beans with my corn, and squash to sprawl underneath and provide shading for the soil. Radish is a wonderful vegetable for companion planting because it seems to prevent and deter many bugs and diseases for squash, cucumber and corn. So, I liberally interplanted these veggies with the hope that they will protect and strengthen one another.  </p>