<h2>Idyle Collaborations is...</h2>

<p>A network for individuals trying to make the world better. </p>
	
<p>Design, sketch, tinker, bend, redefine -- novel applications
	for available resources to solve real problems like <em>hunger</em>, <em>lack of effective shelter</em>, <em>heating</em>, and <em>energy</em>. 
	</p>
	
<h3>How?</h3>

<p>How is a big question. The answers are long, but actually small in implementation when compared to some techniques suggested
	by mega corporations and technology minded entrepreneurs.</p>
	
	
	
