<h2>Ideal + Idle (as in ideal use for idle items) = Idyle</h2>

<p>That is, the ideal use for idle items. This was a problem, until now. The formula is
	item utility + idleness = lost potential, so I have come up with
	item utility = potential where idleness = 0. So keep your items honed and active, 
	and their worth and total potential utility will be increased. They might
	even just end up paying for themselves. 
</p>

<p>	Say you were stuck with a bunch of old chainsaws and now you can rent them each for
	$35/day (or any amount you choose). Anyone anywhere can see your listings, 
	and if they within driving distance or you're
	willing to ship the items, they can rent your items at a rate you specify, with
	a deposit amount you specify (say $100/chainsaw), and a full contract of the 
	transaction documented and ready to print out. I imagine some people might even
	gather lots of used items of value and host them here to rent out in urban centers.
	I think it would be a good use of the technology and the demand for common items that
	we would otherwise have to purchase ourselves. You could even list services at rates
	here on Idyle simply and easily --  it's like this: you can post anything (including your services)
	at any daily or hourly rate, with a credit card secured deposit, and all the 
	documentation you need to protect yourself in case of disputes. You protect yourself by photographing
	your items in prior to shipment or hand off. 
</p>


	
<h3>Common things you can list and find with Idyle</h3>
<ul>
	<li>Tractors</li>
	<li>Golf Clubs</li>
	<li>Cars</li>
	<li>Tools of any kind</li>
	<li>Laptops</li>
	<li>Musical instruments</li>
	<li>Services</li>
	<li>Barter offers</li>
	<li>Free share items</li>
</ul>

