<%= title "Idyle Collaborations is a Network for Individuals trying to Make the World Better" %>

<p>Design, sketch, tinker, bend, redefine -- novel applications
	for available resources to solve real problems like <em>hunger</em>, <em>lack of effective shelter</em>, <em>heating</em>, and <em>energy</em>. 
	</p>
	
<h3>From Broken to Fixed</h3>

<p><em>How</em> is a <b>big question</b>. I've always been a "how" kind of learner -- show me how to do something, and I can usually get my head around it enough to replicate what you've done on my own. I do not respond well to hours of dissertation on the theoretical far off effects of what we're doing, though I have been through those lectures plenty of times, <em>but would rather be shown how to do something good</em> (something like, say planting a tree) and let loose on that, instead of analyzing the morose data and looking for the shape of a pale horseman in the clouds (unless of course I saw the cloud myself, in which case it's fascinating, and I'll likely take a <a href="http://picasaweb.google.com/illusina/">picture</a> of it).</p>
	
	
	
