<%= title "Links" %>

<p>Here are some places and resources that I find useful and informative.</p>

<ul>
	<li><a href="http://www.ic.org">IC.ORG - Intentional Communities</a></li>
	<li><a href="http://www.reddit.com">Reddit - User Powered News</a></li>
	<li><a href="http://www.wikipedia.com">Wikipedia - the most useful site on the internet</a></li>
	<li><a href="http://www.craigslist.org">Craigslist - making internet anarchy possible</a></li>
	<li><a href="http://www.facebook.com">Facebook - well executed social networking</a></li>
</ul>

<h3>People</h3>

<p>Friends and associates I work with.</p>

<ul>
	
	<li><a href="http://www.slamdot.com">Slamdot - solid hosting for designers and small business</a></li>
	<li><a href="http://www.newrelicpc.com">NewRelic - quality design and web apps</a></li>

</ul>