<% title "Permaculture = Permanent Culture" %>

<h3>All is One</h3>

<p>Permaculture stands for <em>permanent culture</em> or <em>permanent agriculture</em>. It is the essence of sustainable living. 
	With just a little bit of land: Food, Energy, and ultimately Happiness are yours if you are creative and open to breaking the "rule"
	 of having a 100% grass lawn and buying all your food from the grocery store.</p>
	
<p><b>What better way to become sustainable than to provide a <em>significant amount of your own food with minimal effort</em> in the space available in just a fraction of your back yard?</b></p>
	
<h3>The Myth of High Production, Low Price</h3>
	
<p>From what much of the major media shows, you would not think that factory farms in the midwest are doing wrong -- 
	they are providing the country, nay the world, with enough food and low enough prices to keep most of us well off, right? 
</p>

<p>But that is a false picture.
	While these farms and the institutions that support them, including large agribusiness, petrochemical, and 
	fast food chains do provide what has become a fundamental function to our society, the external effects of the operations necessary to 
	<em>yield unnatural quantities</em> in soil whose natural biological ecosystem has been decimated by years of planting corn, corn, 
	and more corn (<a href="http://en.wikipedia.org/wiki/Monoculture">monoculture</a>) are catastrophic and largely ignored as more petroleum based fertilizers are pumped into the area, furthering our
	spiral into a clearly failing agriculture methodology.</p>

<h3>True Costs</h3>

<p>The real cost of cheap vegetables are myriad and stark when put in perspective.</p>

<p></p>

<ol>
	<li>Fuel costs for thousands of monthly long distance refrigerated shipments</li>
	<li>Loss of nutritional value due to
		<ol>
			<li>premature picking to allow ripening during shipment</li>
			<li>imbalanced soils</li>
			<li>pesticides which are poisonous</li>
		</ol>
	<li>Additional processing required to preserve freshness</li>
	<li>Waste and runoff into water supplies, ultimately resulting in the <a href="http://current.com/items/89646851/scientists_say_quick_action_needed_to_reduce_gulf_dead_zone.htm">sterilization of ecosystems and contamination of oceans</a>, see also <a href="http://en.wikipedia.org/wiki/Sustainable_agriculture#Off-farm_impacts">off-farm impacts of industrial agriculture</a>.</li>
</ol>